
//SKIN
//General
$general_bg_color: #fff;
$general_bg_image: url('');
$general_bg_repeat: repeat;
$general_bg_position: center center;
$general_bg_size: inherit;
$general_bg_attachment: inherit;
$general_font_family: Open Sans;
$general_font_weight: 400;
$general_font_size: 14px;
$general_font_color: #555;
$general_line_height: 24px;
$primary_color: #f5b71f;

$highlight_color: #13264a;
//Breadcrumbs 1
$breadcrumb_bg_image:'';
$breadcrumb_bg_repeat: '';
$breadcrumb_bg_position: '';	
$breadcrumb_bg_size: cover;
$breadcrumb_bg_attachment: inherit;
$breadcrumb_font_family: Open Sans;
$breadcrumb_font_size: 32px;
$breadcrumb_font_color: #fff;

//Typography
$h1_font_family: Comfortaa;
$h1_font_size: 56px;
$h1_font_color: #333;
$h2_font_family: Comfortaa;
$h2_font_size: 48px;
$h2_font_color: #333;
$h3_font_family: Comfortaa;
$h3_font_size: 24px;
$h3_font_color: #333;
$h4_font_family: Comfortaa;
$h4_font_size: 18px;
$h4_font_color: #333;
$h5_font_family: Comfortaa;
$h5_font_size: 16px;
$h5_font_color: #333;
$h6_font_family: Comfortaa;
$h6_font_size: 14px;
$h6_font_color: #333;